type: "MARKDOWN_NOTE"
folder: "f2829424fd6ae48ade1e"
title: "Top cheatsheet"
content: '''
  # Top cheatsheet
  
  * t - отобразить общую информацию по всей системе;
  * M - отобразить информацию о памяти;
  * P - по процессору
  * T - по процессорному времени
  * с - gполный путь COMMAND и  аргументы
  * V - иерархический вывод
  * i - cскрыть процессы не потребляющие ресурсов
  * A - создает на одном экране несколько топов процессов по максимального потребления ресурсов. Может быть полезным для быстрого выявления самых ресурсоемких процессов;
  * f - выводит интерактивный экран настройки, позволяет быстро найти определенную задачу;
  * o - фильтры процессов;
  * r - выполнить утилиту renice для текущего процесса, позволяет изменить приоритет процесса;
  * k - выполнить утилиту kill для этого процесса;
'''
tags: [
  "Linux"
  "Monitorint,"
  "Cheatsheet"
]
isStarred: false
createdAt: "2017-06-25T12:57:03.899Z"
updatedAt: "2017-06-25T13:02:19.022Z"
