type: "MARKDOWN_NOTE"
folder: "96d54cb67e4ccf16277e"
title: "Welcome to Boostnote :)"
content: '''
  # Welcome to Boostnote :)
  This is a markdown note.
  
  Click to edit this note.
'''
tags: []
isStarred: false
createdAt: "2017-06-24T12:05:54.397Z"
updatedAt: "2017-06-24T12:05:54.397Z"
