type: "MARKDOWN_NOTE"
folder: "f2829424fd6ae48ade1e"
title: "ps cheatsheet"
content: '''
  # ps cheatsheet
  
  Чтобы вывести все процессы используйте опцию -A или -e
  `ps -A`
  
  Для получения большего количества информации используйте опцию -l:
  `ps -Al`
  
  Для максимально полного вывода используйте такую команду:
  `ps -AlF`
  
  Отображаем еще и потоки процессов:
  `ps -AlFH`
  
  Вывести потоки сразу после процессов:
  `ps -AlLm`
  
  Список процессов с потоками в виде дерева:
  `ps -ejH`
  
  Отобразить информацию о безопасности:
  `ps -eM`
  
  Вывести только нужный процесс:
  `pgrep chromium`
  
  Или отобразить только процессы нужного пользователя:
  `pgrep -u user`
  
'''
tags: [
  "Linux"
  "Monitoring"
  "Cheatsheet"
]
isStarred: false
createdAt: "2017-06-24T12:10:45.143Z"
updatedAt: "2017-06-24T12:19:27.435Z"
